<template name="TutorialsLayout">
  <link rel="stylesheet" href="/css/TutorialsLayout.css">
  {{#if currentMajor}}
  <button type="button" id="_major" class="center-block text-center major_btn" name="button">{{currentMajor}}</button>
  {{/if}}
  <div class="container-fluid">
    <div class="col-xs-2" id="butts">
      {{#each tuts}}
        <button type="button" id="{{this}}" class="center-block text-center {{#if mytut}}tut_btn my_tut{{else}}tut_btn{{/if}}" name="button">{{this}}</button><br>
      {{/each}}
    </div>
    <div class="col-xs-2"></div>

    {{#if currentTut}}
    <div class="col-xs-8">
      <table class="table">
        <tr>
          <th>Weekday</th>
          <th>First Slot</th>
          <th>Second Slot</th>
          <th>Third Slot</th>
          <th>Fourth Slot</th>
          <th>Fifth Slot</th>
        </tr>
        {{#each weekdays}}
          <tr>
            <td>{{this}}</td>
            <td>ba</td>
            <td>ba</td>
            <td>ba</td>
            <td>ba</td>
            <td>ba</td>
          </tr>
        {{/each}}
      </table>
    </div>
    <div class="squad col-xs-2">
      <p class="text-center" style="font-size:200%;"><b>The Squad</b></p>
      {{#if enroll_btn}}
      <button type="button" class="enroll col-xs-12" name="button"><b>Enroll <i class="fa fa-plus" aria-hidden="true"></i></b></button>
      {{/if}}
      <div class="fam">
        <p class="text-center" style="font-size:140%;"><b>Nobody's here :(</b></p>
      </div>
    </div>
      {{else}}
      <div class="col-xs-10">
        <p class="choose text-center">Please choose a tutorial to view</p>
      </div>
    {{/if}}
  </div>
</template>
